---
layout: default
---
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3 class="mt-4" style="border-top:3px solid; border-bottom:1px solid; "> Brief biography </h3>
        <p>
            {{site.resume_biography}} 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h4 style="border-top:3px solid; border-bottom:1px solid; ">Education</h4>
        <ul>
            <li>
                BS in Science, Nanjing University of Aeronautics and Astronautics, China, 2007-2011.
            </li>
            <li>
                Ph.D in Computer Science, Southeast University, China, 2011-2016.
            </li>
            <li>
                Postdoc in Computer Science, Nanyang Technological University, Singapore, 2016-2017.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3 class="mt-4" style="border-top:3px solid; border-bottom:1px solid; ">Research Interests</h3>
        <ul>
            {% for item in site.data.research_interests %}
            <li>
                {{item.name}}
            </li>
            {% endfor %}
        </ul>
    </div> 
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3 class="mt-4" style="border-top:3px solid; border-bottom:1px solid; "> Latest News </h3>
        <ul>
            {% for item in site.data.news %}
            <li>
                [ {{item.date}} ] {{item.news}}
            </li>
            {% endfor %}
        </ul> 
    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3 class="mt-4" style="border-top:3px solid; border-bottom:1px solid; "> Academic Services</h3>
        <ul>
            {% for item in site.data.committee_member %}
            <li>
                {{item.name}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h3 class="mt-4" style="border-top:3px solid; border-bottom:1px solid; ">Academic Projects Investigated</h3>
            <ul>
                {% for item in site.data.academic_projects %}
                <li>
                    [{{item.date}}] {{item.name_eng}}
                </li>
                {% endfor %}
            </ul>
        </div>
</div>
