<div class="row align-items-center mt-4">
    <div class="col-sm-3 offset-sm-2">
        <img src="/images/head.jpg" class="img-thumbnail mx-auto d-block" style="width: 60%;">
    </div>
    <div class="col-sm-5">
        <h4>{{site.resume_name}} ({{site.resume_chinese_name}})</h4>
        <p>{{site.resume_job_title}}<br>
        {{site.resume_department}}<br>
        {{site.resume_university}}<br>
        Email:   {{site.resume_contact_email}}<br>
        Address: {{site.resume_contact_address}}</p>
    </div>
</div>